body
{
	text-align: center;
	font-family:Bauhaus 93;
	font-size:30px;
	background-image:url ("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT8Vl4jRVLMswUq6wfnC0Wf60ny94zJx1DHP_2L_b4Q-npJM9P7&usqp=CAU");
	
	margin-left: 100 px;
	margin-right:100 px;
	margin-top:120px;
	margin-bottom:120px;
	word-spacing:20px;
	letter-spacing:4px;
	line-height: 50px;
}